* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

.container {
  margin: auto;
  
}

.header {
  padding-top: 15px;
  padding-bottom: 140px;
  background-image: url(../images/banner-bg.jpg);
  background-color: #000000;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 0;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.logo {
  margin-left: 245px;
}

.logo-img {
  width: 180px;
}

.header-menu {
  margin: 0;
  box-sizing: border-box;
}

.menu-list {
  display: flex;
  list-style-type: none;
  align-items: center;
  margin-right: 50px;
}

.menu-list-item:nth-child(n + 2) {
  margin-left: 35px;
}

.menu-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  font-family: OpenSans;
}

.header-title {
  display: block;
  text-transform: uppercase;
  max-width: 700px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  font-family: OpenSans;
  font-size: 35px;
  line-height: 1.7;
  font-weight: 700;
}

.trends {
  margin-top: 65px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: OpenSans;
  text-align: center;
}

.trends::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
}

.container-block {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.trend {
  width: 24.8%;
  min-height: 320px;
  background-color: black;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: flex-end;
}

.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend:nth-child(-n + 3) {
  margin-right: 3px;
}

.trend__a {
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.trend__b {
  background-image: url(../images/trend2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.trend__c {
  background-image: url(../images/trend3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.trend__d {
  background-image: url(../images/trend4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content-block {
  border: 2px solid #b59f5b;
  padding: 35px;
  margin: 20px;
  width: 100%;
}

.content-menu {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
}

.conent-block-menu {
  padding-right: 18px;
}

.caption {
  font-size: 17px;
  text-transform: uppercase;
  font-family: OpenSans;
  margin-top: 10px;
  color: #ffffff;
}

.contents {
  max-width: 1200px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.news-blog {
  width: 750px;
}

.posts {
  display: flex;
  padding-top: 0;
  padding-bottom: 60px;
}

.preview-img {
  width: 380px;
}

.content {
  margin-left: 20px;
}

.news-menu {
  display: flex;
  box-sizing: border-box;
  list-style-type: none;
}

.tag-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #b59f5b;
  font-weight: 700;
  font-family: OpenSans;
}

.news-title {
  margin-top: 10px;
  line-height: 1.2;
  font-size: 20px;
  font-family: OpenSans;
  font-weight: bold;
}

.news-title-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 900;
}

.news-info {
  margin-bottom: 50px;
  margin-top: 25px;
}

.news-date {
  font-size: 10px;
  color: #989898;
  font-family: OpenSans;
  font-weight: 700;
}

.news-autor {
  font-size: 10px;
  font-family: OpenSans;
  font-weight: 900;
  color: #000000;
  margin-left: 10px;
}

.news-content {
  font-family: OpenSans;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}

.aside {
  width: 270px;
  margin-left: 120px;
}

.new-header {
  text-align: center;
  font-family: OpenSans;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.new-header::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
}

.new-post {
  display: flex;
  margin-bottom: 22px;
}

.image {
  width: 70px;
}

.new-text {
  margin-left: 20px;
}

.date {
  font-size: 10px;
  color: #989898;
  font-family: OpenSans;
  font-weight: 700;
  margin-bottom: 10px;
}

.new-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-family: OpenSans;
  font-size: 12px;
}

.search-page {
  margin-top: 60px;
  margin-bottom: 60px;
}

.search {
  display: flex;
  width: 100%;
}

.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  position: absolute;
}

.field {
  box-sizing: border-box;
  border: none;
  height: 48px;
  width: 223px;
  background-color: #f4f7f6;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px;
}

.search-button {
  width: 48px;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center;
  cursor: pointer;
}

.mailing {
  margin-bottom: 60px;
}

.mailing-field {
  width: 100%;
  border: none;
  height: 48px;
  background-color: #f4f7f6;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 13px;
}

.mailing-button {
  width: 100%;
  height: 48px;
  margin-top: 18px;
  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  color: #ffffff;
  font-family: OpenSans;
  cursor: pointer;
}

.tags {
  margin-bottom: 60px;
}

.new-tags {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tag-subject {
  margin-top: 26px;
  margin-right: 5px;
}

.subject {
  display: block;
  align-items: center;
  align-content: space-between;
  padding: 7px 13px;
  text-decoration: none;
  border-style: solid;
  border-color: #eeeeee;
  color: #000000;
  text-transform: uppercase;
  font-size: 11px;
  font-family: OpenSans;
  font-weight: 900;
}

.new-theme {
  list-style-type: none;
}

.theme-subject {
  border-style: none none solid none;
  border-width: 1px;
  border-color: #eeeeee;
  padding-top: 22px;
  padding-bottom: 17px;
}

.theme {
  text-decoration: none;
  color: #000000;
  font-family: OpenSans;
  font-size: 14px;
  font-weight: bold;
}

.number {
  display: inline-block;
  font-family: OpenSans;
  color: #b59f5b;
  font-size: 11px;
  vertical-align: top;
}

.products {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: OpenSans;
    text-align: center;
  }
  
  .products::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
  }
  
  .product-container {
    max-width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .product {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .product:nth-child(-n + 2) {
    margin-right: 65px;
  }
  
  .product-picture {
    text-align: center;
  }
  
  .content-product {
    height: 100%;
    margin-top: -35px;
    padding: 50px 25px 25px;
    border: 3px solid #e1d9bd;
    line-height: 1.5;
    position: relative;
  }
  
  .header-product {
    text-transform: uppercase;
    font-family: OpenSans;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .product-text {
    font-family: OpenSans;
    font-size: 14px;
  }
  
  .product-link {
    text-decoration: none;
    color: #b59f5b;
  }
  
  .footer-product {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .product-price {
    font-family: OpenSans;
    font-weight: bold;
    display: flex;
  }
  
  .product-price-value {
    font-size: 18px;
  }
  
  .product-price-old {
    text-decoration: line-through;
    font-size: 14px;
  }

  .product-button {
    width: 140px;
    height: 50px;
    text-transform: uppercase;
    font-family: OpenSans;
    font-weight: bold;
    color: #ffffff;
    background-color: #b59f5b;
    border: none;
  }

.footer-social {
  max-width: 1200px;
  background-color: #f4f7f6;
  margin: 0 auto;
  margin-bottom: 74px;
}

.social-network {
  margin-bottom: 40px;
}

.social {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 32px 0;
}

.social-icon {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.social-link {
  margin-right: 13px;
}
.social-icon_twitter {
  background-image: url(../svg/004-twitter.svg);
}

.social-icon_pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.social-icon_facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.social-icon_instagram {
  background-image: url(../svg/005-instagram.svg);
}

.social-icon_tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.network {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  text-decoration: none;
  color: #999999;
  font-size: 11px;
  font-family: OpenSans;
  font-weight: bold;
}

.copyright-text{
 text-align: center;
}

.title-popup {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-family: OpenSans;
  text-align: center;
}

.title-popup::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 66px;
  height: 3px;
  background: #e1d9bd;
}

.popup_hidden {
display: flex; 
justify-content: center;
}

.popup-contant {
width: 390px;
height: 490px;
padding: 50px 35px;
font-family: OpenSans;
font-size: 15px;
line-height: 1.5;
}

.form-group {
margin-bottom: 35px;
}

.label-text {
width: 100%;
}

.select {
display: inline-block;
box-sizing: border-box;
margin-top: 12px;
border: none;
height: 48px;
width: 100%;
appearance: none;
background-color: #f4f7f6;
background-image: url(../svg/form-arrows.svg);
background-repeat: no-repeat;
background-size: 10px;
background-position: right 10px center;
padding-left: 18px;
padding-right: 18px;
font-size: 15px;
color: #989898;
}

.form-radio-group{
display: flex;
flex-wrap: wrap;
}

.radio-group{
margin-top: 15p;
}

.radio {
appearance: none;
}

.radio::before {
content: "";
display: flex;
text-align: center;

width: 20px;
height: 20px;

background-image: url(../svg/form-empty-circle.svg);
background-repeat: no-repeat;
background-position: bottom center;
background-size: 17px;
}






@media (min-width: 1200px){
  .product {
    width: 25%;
  }
  
}

@media (min-width: 641px) and (max-width: 1199px)  {
  
  .header {
    background-image: url(../images/banner-bg-tablet.jpg);
  }

  .header-menu {
    display: none;
  }

  .logo {
    margin-left: 35px;
  }

  .logo-img {
    width: 160px;
    height: 35px;
  }

  .header-title {
    max-width: 600px;
    margin-top: 100px;
  }
  
  .trend {
    width: 49.6%;
    margin-bottom: 3px;
  }

  .trend:nth-child(odd) {
    margin-right: 3px;
  }
  
  .product-container {
    flex-wrap: wrap;
  }

  .product {
    width: 37.5%;
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-bottom: 10px;
    margin-right: 5%;
  }
  
  .product:nth-child(2){
    margin-left: 5%;
  }

  .product:nth-child(3){
    margin-top: 30px;
  }

 
  .contents{
   justify-content: center;
   max-width: 768px;
  }
  
  .news-blog {
    width: 50%;
}
  
  .posts {
  flex-wrap: wrap;
}

  .aside {
    width: 45%;
  }
}

@media (max-width: 640px) {
  .header {
    background-image: url(../images/banner-mobile.jpg);
  }

  .header-menu {
    display: none;
  }

  .logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 275px;
    margin-top: 235px;
  }

  .logo-img {
    min-width: 272px;
    height: 50px;
  }

  .header-title {
    font-size: 20px;
    max-width: 275px;
    margin-top: 45px;
  }

  .trend {
    width: 99%;
    margin: 0 0 3px;
  }

  .contents{
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
  }

  .news-blog {
    width: 100%;
  }
  
  .posts {
   flex-wrap: wrap;
  }

  .news-preview {
   margin-left: auto;
   margin-right: auto;
  }


  .aside {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }

  .search {
    width: 100%;
  }

  .product-container {
    flex-wrap: wrap;
  }

  .product {
    width: 37.5%;
    display: flex;
    justify-content: start;
    margin-left: 5%;
    margin-top: 30px;
    margin-right: 5%;
  }
  

}